@import '../common/styles/scss/variables';
@import '../common/styles/scss/mixins';

.usersContainer {
  margin-top: 15px;
  margin-left: 20px;


  .paginatorBlock {
  }

  .usersBlock {
    @include flex(row, flex-start, center, wrap);
    width: 95%;
    margin-top: 10px;
    background-color: $bgColorGray;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    box-sizing: border-box;

    .user {
      width: 46%;
      margin-top: 10px;
      margin-right: 5px;
      //background-color: black;
      padding: 10px;
      @include flex(row, flex-start, center, wrap);

      .avatar {
        @include flex(row, center, center, wrap);

        .avatarImg {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          //margin-top: 20px;
          object-fit: cover;
          margin-right: 15px;

        }
      }


      .informBlock {
        width: 200px;
        background-color: $textColorYellow;
        border-radius: 15px;
        padding: 5px 10px;
      }

      .followButton{
        @include flex(row, flex-start, flex-end, wrap);
        margin-left: 10px;
        height: 65px;
      }
    }
  }
}


.nameTd {
  padding-left: 15px;
  padding-top: 25px;
  text-decoration: none;
  color: #444;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;

}

