@import '../../assets/styles/scss/variables';
@import '../../assets/styles/scss/mixins';

.usersContainer {
  height: 100%;
  margin-top: 35px;
  margin-left: 20px;
  @include flex(column, flex-start, flex-start, nowrap);

  .searchBlock {
    @include flex(row, space-between, center, nowrap);
    width: 95%;
    height: 35px;

    .sortBlock{
      @include flex(row, space-between, center, nowrap);
      width: 190px;
    }
  }

  .usersBlock {
    @include flex(row, flex-start, center, wrap);
    width: 95%;
    margin-top: 10px;
    background-color: $bgColorGray;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;

    .user {
      width: 46%;
      margin-top: 2px;
      margin-right: 5px;
      padding: 8px;
      @include flex(row, flex-start, center, nowrap);

      .avatar {
        @include flex(row, center, center, nowrap);

        .avatarImg {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 15px;

        }
      }

      .informBlock {
        width: 200px;
        background-color: $textColorYellow;
        border-radius: 15px;
        padding: 5px 10px;
      }

      .followButton{
        @include flex(row, flex-start, flex-end, wrap);
        margin-top: 8px;
        margin-left: 15px;
        height: 65px;
      }
    }
  }
}


.nameTd {
  padding-left: 15px;
  padding-top: 25px;
  text-decoration: none;
  color: #444;
  cursor: pointer;
  touch-action: manipulation;
  outline: none;

}

