@import '../../../common/styles/scss/variables';
@import '../../../common/styles/scss/mixins';

.myPostContainer {
  //background-color: green;
  width: 60%;

  //background-color: black;

  .addForm {
    margin-top: 32px;
    height: 92px;
    width: 500px;
    margin-left: 84px;

  }

  .messageBlock {
    height: 75%;
    //background-color: black;
    .item {
      @include flex(column, flex-start, center, wrap);
      margin-top: -5px;
      //padding-left: 25px;
      //background-color: #c96a6a;
    }
  }

  .paginationBlock {
    @include text(16px, 16px, 400);
    color: $textColor;
    margin-left: 82px;
    margin-top: 20px;

    .pagination {
      padding-right: 5px;
      cursor: pointer;
    }
  }
}
