@import '../../common/styles/scss/variables';
@import '../../common/styles/scss/mixins';

.myPostContainer {
  //background-color: green;
  width: 60%;

  //background-color: black;

  .addForm {
    @include flex(column, center, flex-start, wrap);
    height: 120px;
    width: 92%;
    //background-color: red;

    .formContainer {
      @include flex(row, center, flex-start, wrap);
      width: 100%;
      //background-color: blue;

      .textArea {
        @include scrollBar();
        margin-top: 20px;
        height: 65px;
        width: 350px;
        background-color: rgba(26, 26, 26, 0.9);
        color: $textColor;
        resize: none
      }

      .addPostButton {
        background-color: black;
        color: white;
        margin-left: 30px;
        margin-top: 56px;

        &:hover {
          color: #1d39c4;
        }
      }
    }
  }

  .messageBlock {
    height: 75%;
    //background-color: black;
    .item {
      @include flex(column, flex-start, center, wrap);
      margin-top: -5px;
      //padding-left: 25px;
      //background-color: #c96a6a;
    }
  }

  .paginationBlock {
    @include text(16px, 16px, 400);
    color: $textColor;
    margin-left: 80px;
    margin-top: 10px;

    .pagination {
      padding-right: 5px;
      cursor: pointer;
    }
  }

}


.block {
  //width: 300px;

}

