@import '../../../../components/common/styles/scss/variables';
@import '../../../../components/common/styles/scss/mixins';

.messageContainer {
  @include scrollBar();
  width: 82%;
  height: 350px;
  overflow-y: auto;



  .myMessageBlock {
    width: 100%;
    padding: 10px 0;
    @include flex(row, flex-start, center, wrap);
    padding-left: 250px;

    .myMessage {
      @include flex(row, flex-start, center, wrap);
      @include text(15px, 15px, 400);
      width: 250px;
      background-color: rgb(117, 157, 255);
      padding: 15px;
      margin-right: 15px;
      border-radius: 15px;
      color: #ffffff;
    }
  }

  .friendsMessageBlock {
    width: 100%;
    padding: 10px 0;
    @include flex(row, flex-start, center, wrap);

    .friendsMessage {
      @include flex(row, flex-start, center, wrap);
      @include text(15px, 15px, 400);
      width: 250px;
      padding: 15px;
      border-radius: 15px;
      background-color: rgb(255, 255, 255);

    }
  }
}

