@import '../../../../components/common/styles/scss/variables';
@import '../../../../components/common/styles/scss/mixins';

.messageContainer {
  @include scrollBar();
  overflow-y: auto;
  float:bottom;
  width: 98%;
  height: 390px;

  .myMessageBlock {
    @include flex(row, flex-start, center, wrap);
    width: 100%;
    padding: 10px 0;
    padding-left: 300px;

    .myMessage {
      @include flex(column, flex-start, flex-start, wrap);
      @include text(14px, 20px, 400);
      width: 300px;
      background-color: rgb(117, 157, 255);
      padding: 15px;
      margin-right: 15px;
      border-radius: 15px;
      color: #ffffff;
      word-break: keep-all;

      .data {
        @include flex(row, flex-end, center, wrap);
        @include text(10px, 10px, 300);
        width: 100%;
        //margin-top: 5px;
        padding-top: 15px;

      }
    }

    .delete {
      color: white;
      cursor: pointer;
      margin-left: -3px;
      &:hover {
        color: rgb(0, 0, 0);
      }
    }


  }

  .friendsMessageBlock {
    @include flex(row, flex-start, center, wrap);
    width: 100%;
    padding: 10px 0;

    .friendsMessage {
      @include flex(column, flex-start, flex-start, wrap);
      @include text(14px, 18px, 400);
      width: 300px;
      padding: 15px;
      border-radius: 15px;
      background-color: rgb(255, 255, 255);
      word-break: keep-all;

      .data {
        @include flex(row, flex-end, center, wrap);
        @include text(10px, 10px, 300);
        width: 100%;
        margin-top: 5px;
      }
    }
  }
}

