.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .backgroundPreloader {
    opacity: 100%;
    position: relative;

    .vision {
      position: absolute;
      top: 2px;
      left: 7px;
      width: 235px;
      height: 235px;
      border-radius: 50%;
      opacity: 100%;
    }

    .crazySun {
      width: 300px;
      opacity: 100%;
      border-radius: 50%;
    }
  }
}