@import '../../common/styles/scss/variables';
@import '../../common/styles/scss/mixins';

.profileInfoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $textColor;
  //background-color: blue;
  width: 40%;
  padding: 20px 0;
  box-sizing: border-box;

  .profileInfoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin-top: 10px;
    //background-color: red;

    .avatarBlock{
      @include flex(column, center, center, wrap);
      //background-color: green;
      width: 100%;

      .mainAvatar {
        position: relative;

        .avatar{
          width: 200px;
          margin: 20px 0;
          //margin-bottom: 20px;
          background-color: #bcbcca;
          border-radius: 61% 39% 27% 73% / 31% 30% 70% 69%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .updatePhoto {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          color: #fff;
          background: rgba(159, 156, 151, 0.8);
          text-align: center;
          transition: opacity .25s ease-in-out;
          opacity: 0;
          overflow: hidden;
          width: 200px;
          margin: 20px 0;
          border-radius: 61% 39% 27% 73% / 31% 30% 70% 69%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          &:hover{
            opacity: 1;
          }
        }
      }



      .uploadPhotoBlock {
        position: relative;
        display: flex;
        align-items: center;

        .supportText{
          position: absolute;
          width: 200px;
          left: 50px;
        }

        .uploadPhoto {
          width: 40px;
          cursor: pointer;
          color: white;
          filter: invert(1);
        }
      }

      .inputUploadPhoto {
        display: none;
        cursor: pointer;
      }
    }

    .profileBlock{
      margin-left: 30px;

      .profileStatus{
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
        @include text (22x, 22px, 400);
      }

      .profileDataForm {
        //background-color: red;
        @include text (18x, 32px, 400);
        margin-top: 20px;
        font-size: 15px;
        //display: flex;
        //justify-content: center;
        //align-items: center;

      }
    }
  }
}
.buttonEditProfile {
  background-color: black;
  color: white;
  border-radius: 50px;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    color: #1d39c4;
  }
}

//.main img {
//    width: 1100px;
//    height: auto;
//}