@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins';

.profileInfoContainer {
  @include flex(column, flex-start, center, wrap);
  margin-top: 5px;
  color: $textColor;
  width: 40%;
  padding: 20px 0;
  box-sizing: border-box;


  .profileInfoBlock {
    @include flex(column, flex-start, flex-start, wrap);
    background-color: $bgColorGray;
    border-radius: 15px;
    width: 90%;
    height: 94%;
    margin-top: 25px;
    margin-left: 30px;
  }
}
