@import '../../assets/styles/scss/variables';
@import '../../assets/styles/scss/mixins';

.newsContainer {
  @include flex(column, center, flex-start, nowrap);
  height: 98%;
  //background-color: red;
  margin-left: -60px;

  .newsBlock {
    @include flex(row, space-evenly, center, nowrap);
    height: 90%;
    width: 100%;
  }

  .newsButtonBlock {
    @include flex(column, center, center, wrap);
    width: 100%;

  }
}