@import '../../assets/styles/scss/variables';
@import '../../assets/styles/scss/mixins';

.newsContainer {
  @include flex(column, center, flex-start, wrap);
  height: 98%;

  .newsBlock {
    @include flex(row, space-evenly, center, wrap);
    height: 90%;
    width: 100%;
  }

  .newsButtonBlock {
    @include flex(column, center, center, wrap);
    width: 100%;

    .newsButton {
    }
  }
}