@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins';


.input {
  @include text(15px, 15px, 400);
  @include scrollBar();
  height: 6px;
  background-color: rgba(26, 26, 26, 0.9);
  color: $textColor;
  border-color: rgba(26, 26, 26, 0.9);
  resize: none;
  padding: 10px;
}

