.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    text-decoration: none;
    padding-top: 25px;
    padding-left: 20px;
}

.messages {
    padding-top: 25px;
    color: black

}




