@import '../../components/common/styles/scss/variables';
@import '../../components/common/styles/scss/mixins';


.dialogsContainer {
    @include flex(row, flex-start, flex-start, wrap);
    height: 85%;
    margin-top: 50px;
    margin-left: 40px;

    .friendsList {
        width: 300px;
        height: 100%;
        background-color: $textColorYellow;
        text-decoration: none;
        border-radius: 15px;

        .title{
            @include text(18px, 18px, 600);
            @include flex(row, center,center, wrap);
            height: 60px;
        }

    }

    .messages {
        padding-top: 30px;
        padding-left: 40px;
        box-sizing: border-box;
        color: black;
        width: 700px;
        height: 100%;
        background-color: $bgColorGray;
        border-radius: 15px;

        .textField {
            @include text(15px, 15px, 400);
            @include scrollBar();
            margin-top: 20px;
            height: 55px;
            width: 91%;
            background-color: rgba(26, 26, 26, 0.9);
            color: $textColor;
            resize: none;
            padding: 10px;
        }

        .buttonBlock {
            @include flex(row, flex-end, center, wrap);
            width: 91%;

            .button {
            }
        }


    }
}







