/*.nav {*/

/*    !*grid-area: nav;*!*/
/*    !*display: flex;*!*/
/*    !*justify-content: center;*!*/
/*    !*align-items: flex-start;*!*/
/*    background-color: aqua;*/
/*    grid-area: nav;*/
/*}*/

/*.block {*/
/*    margin-top: 10px;*/
/*    margin-left: 10px;*/
/*}*/

/*!*.item {*!*/
/*!*    display: flex;*!*/
/*!*    color: yellow;*!*/
/*!*    font-weight: bolder;*!*/
/*!*    font-size: large;*!*/
/*!*    padding-top: 5px;*!*/
/*!*    padding-left: 20px;*!*/

/*!*}*!*/

/*.block btn {*/
/*    !*display: inline-block;*!*/
/*    !*box-sizing: border-box;*!*/
/*    !*padding: 0 20px;*!*/
/*    !*margin: 0 15px 15px 10px;*!*/
/*    !*outline: none;*!*/
/*    !*line-height: 36px;*!*/
/*    !*font-size: 12px;*!*/
/*    !*text-align: center;*!*/
/*    !*width: 90px;*!*/
/*    !*font-weight: 600;*!*/
/*    text-decoration: none;*/
/*    !*color: #444;*!*/
/*    !*background-color: #fff;*!*/
/*    !*box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);*!*/
/*    !*cursor: pointer;*!*/
/*    !*user-select: none;*!*/
/*    !*appearance: none;*!*/
/*    !*touch-action: manipulation;*!*/
/*    !*vertical-align: top;*!*/
/*    !*transition: box-shadow 0.2s;*!*/
/*}*/

/*.btn.activeLink {*/
/*    color: gold;*/
/*    text-decoration: none;*/
/*    font-size: 111px;*/
/*}*/



.nav {
        background-color: aqua;
        grid-area: nav;
}

.item a {
        display: inline-block;
        box-sizing: border-box;
        padding: 0 20px;
        margin: 15px 15px 15px 20px;
        outline: none;
        line-height: 36px;
        font-size: 12px;
        text-align: center;
        width: 90px;
        font-weight: 600;
        text-decoration: none;
        color: #444;
        background-color: #fff;
        box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
        cursor: pointer;
        user-select: none;
        appearance: none;
        touch-action: manipulation;
        vertical-align: top;
        transition: box-shadow 0.2s;
        border-radius: 5px;
}

.item a.activeLink {
    color: blue;
}