@import '../../../assets/styles/scss/variables';
@import '../../../assets/styles/scss/mixins';

.loginFormContainer {
  @include flex(column, flex-start, space-evenly, wrap);
  width: 250px;

  .email {}

  .password {
    position: relative;

    .eye {
      position: absolute;
      right: 10px;
      top: 16px;
      cursor: pointer;
    }
  }

  .rememberMe {
    @include flex(row, flex-start, space-evenly, wrap);
    height: 40px;
    color: $textColor;
    @include text(18px, 18px, 400);
    margin: 10px 0;

    .rememberMeText {
      @include text(16px, 16px, 400);
      margin-right: 10px;
    }
  }
}